# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Data sets
data

# Kaggle Submissions
submissions

# Reference notebooks
pubg-data-exploration-rf-funny-gifs.ipynb
eda-is-fun.ipynb

# Scripts
buffer_del.py